.App-header {
  height: 20rem;
  border-radius: 0.2rem;
  border-color: black;
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px black;
  display: flex;
  align-items: center;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}
@media screen and (max-width: 500px) {
  .App-header {
    height: 10rem;
    border-radius: 0.2rem;
    border-color: black;
    color: white;
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    text-shadow: 2px 2px black;
  }
}
